* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font: 13px Helvetica, Arial; 
}

#outer {
    width: 200px;
    height: 300px;
}

post-form {
    background: #000;
    position: relative;
    display: inline-block;
    width: 100%; 
    padding: 1px;
}

query-form {
    background: #000;
    position: relative;
    display: inline-block;
    width: 100%; 
    padding: 1px;
}

form input {
    width: 80%;
    height: 100%;
    border: 1px;
    border-style: none none solid none;
    padding: 3px;
}

form button {
    width: 20%;
    height: 100%;
    border: none;
    padding: 3px; 
    background: rgb(130, 224, 255);
}

#linklist {
    position: relative;
    display: inline-block;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow-y: scroll;
}

#linklist li {
    padding: 5px 10px; 
}

#linklist li:nth-child(odd) {
    background: #eee; 
}
