* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font: 14px Helvetica, Arial; 
}

a:hover, a:visited, a:link, a:active, p:hover, p:visited, p:link, p:active {
    text-decoration: none;
}

i {
    text-align: center;
    color: rgba(0,0,0,0.6);
}

#outer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(245,245,245,1);
}

#upper {
    background: #ffb347;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fecf40, #f69110);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fecf40, #f69110); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    display: inline-block;
    width: 100%;
    height: 15%;
    margin: 0;
    padding-bottom: 3%;
    padding-top: 1%;
    box-shadow: 0px 2px 4px rgba(25,25,25,0.4);
    overflow: hidden;
    z-index: 2;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

#logo {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

#middle {
    background: none;
    position: absolute;
    width: 100%;
    height: 34px;
    top: calc(15% - 17px);
    vertical-align: middle;
    z-index: 999;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

#form-div {
    position: relative;
    height: 100%;
    width: 90%;
    left: 5%;
    border-radius: 100px;
    overflow: hidden;
    /* box-shadow: 0px 1px 4px rgba(25,25,25,0.4); */
}

#form-div-shadow {
    position: absolute;
    height: 34px;
    width: 90%;
    top: calc(15% - calc(34px / 2));
    left: 5%;
    vertical-align: middle;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(25,25,25,0.4);
    z-index: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

#query-form {
    position: absolute;
    display: inline;
    height: 100%;
    width: 100%;
    -webkit-transition: width .3s;
    transition: width .3s;
    background-color: white;
    border: 0.5px;
    border-color: rgba(30,30,30,0.2);
    font-family: roboto, sans-serif;
}

#query-form {
    right: 0;
    border-style: none none none solid;
}

#query-form > input {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: inline-block;
    position: absolute;
    border: none;
    text-align: center;
    outline: none;
    font-size: 14px;
}

#query-form > input {
    left: 0;
}

#queryIcon {
    height: auto;
    width: 20%;
    padding: 0;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    font-size: 20px;
    top: calc(50% - 10px);
}

#queryIcon {
    left:0;
}

::-webkit-input-placeholder { 
    color: rgba(0,0,0,0.3);
}

#lower {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 85%; 
    padding-top: 3%;
    padding-bottom: 1%;
    bottom: 0;
    overflow-y: scroll;
    z-index: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

#linklist {
    list-style-type: none;
    height: 100%;
    width: 100%;
    overflow-y: visible;
}

#linklist li {
    margin: 1% 1.666% 1% 1.666%;
    height: 30%;
    width: 30%;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(25,25,25,0.4);
    text-align: center;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    overflow: hidden;
    display: inline-block;
}

#linklist > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-size:cover;
}

#linklist > li > a > div {
    display: table;
    width: 101%;
    height: 101%;
    visibility: hidden;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
    transition: 0.1s;
    -webkit-transition: 0.1s;
}

#linklist > li > a > div > p {
    display: table-cell;
    padding: 2%;
    visibility: hidden;
    color: rgba(255,255,255,0.6);
    font-family: 'Open Sans Light', sans-serif;
    font-size: 20;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 0.1s;
    -webkit-transition: 0.1s;
}

#linklist li:hover {
    height: 32%;
    width: 32%;
    margin: 0.5% 0.666% 0.5% 0.666%;
    box-shadow: 0px 4px 8px rgba(25,25,25,0.4);
}

#linklist > li:hover > a > div {
    visibility: visible;
    background-color: rgba(20,20,20,0.5);
    transition: 0.1s;
    -webkit-transition: 0.1s;
}

#linklist > li:hover > a > div > p {
    visibility: visible;
    transition: 0.1s;
    -webkit-transition: 0.1s;
}

#footer {
    background: #ffb347;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fecf40, #f69110);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fecf40, #f69110); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 5%;
    padding: 2% 10%;
    margin: 0;
    box-shadow: 0px 2px 4px rgba(25,25,25,0.4);
    overflow: hidden;
    z-index: 2;
}

#tab {
    position: relative;
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
}

#current-tab {
    display: inline-block;
    position: relative;
    text-align: center;
    overflow-y: visible;
    overflow-x: hidden;
    width: auto;
    height: 100%;
    max-width: 90%;
    max-height: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(20,20,20,0.6);
    font-family: 'Open Sans Light', sans-serif;
    /* font-style: italic; */
    font-size: 12px;
    vertical-align: middle;
}

#tab > i {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    vertical-align: middle;
    color: rgba(20,20,20,0.6);
    font-size: 14px;
}



